* {
    box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: 'Karma', serif;
	color: #f7f7f7;
}

body a {
	color: #9BC272;
    text-decoration: none;
}

body a:hover {
	color: #52C2D4;
}

.content {
	background-image: url("../img/carolyn_bg_dim_full.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
}

.about {
	
	padding-left: 25px;
	padding-right: 25px;
    padding-bottom: 10px;
}

.about h1 {
	font-size: 5em;
} 

.about p {
	margin-left: 10px;
	margin-right: 10px;
} 

/*tablet*/
@media (min-width: 768px) {
	.about {
	    
	}
}
 /*laptop*/
@media (min-width: 992px) {
	.content {
		background-image: url("../img/carolyn_bg.jpg");
		background-size: contain;
	}
	.about {
	    background-color: white;
	    width: 40%;
	    float: right;
	    color: #50556C;
	}
}